[submodule "zlib/zlib/upstream"]
	path = zlib/zlib/upstream
	url = https://github.com/madler/zlib.git
[submodule "libpng/libpng/upstream"]
	path = libpng/libpng/upstream
	url = https://github.com/glennrp/libpng.git
[submodule "libwebp/libwebp/upstream"]
	path = libwebp/libwebp/upstream
	url = https://github.com/webmproject/libwebp.git
[submodule "cli11/cli11/upstream"]
	path = cli11/cli11/upstream
	url = https://github.com/CLIUtils/CLI11.git
